[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=3.2"
django-environ = "~=0.4"
psycopg2 = "~=2.9"
gunicorn = "~=20.1"

[dev-packages]

[requires]
python_version = "3.8"
