[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=4.0.6"
django-environ = "~=0.4"
psycopg2-binary= "~=2.9.3"
gunicorn = "~=20.1"

[dev-packages]

[requires]
python_version = "3.10.4"
